@media only screen and (min-width: 700px) {
  section#Purple.non-text {
    background: radial-gradient(
      circle at top,
      transparent,
      transparent 20%,
      hsla(var(--color-purple-a), 0.9) 99%
    );

    article h1 {
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
  }

  section#Purple.non-text article {
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form#Search-bar {
    width: 100%;
    margin: 0 10px;

    label {
      font-size: 0.75rem;
      padding-left: 20px;
      margin: 0;
      color: var(--color-gray-450);
    }

    div {
      display: flex;
      width: 100%;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      margin-bottom: 2px;
    }

    input {
      width: 100%;
      box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 1);
      margin: 0;
      background-color: var(--color-gray-800);
      border: var(--glass-border);
      color: var(--color-white);
      border-radius: 10px 0 0 10px;
      padding: 0.3rem 0.5rem;
      padding-bottom: 2.5px;
      font-family: inherit;
      font-size: 0.75rem;
      resize: none;

      &::placeholder {
        color: var(--color-gray-600);
      }

      &:focus {
        background-color: var(--color-gray-750);
        box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 0.3);
        outline: none;

        &::placeholder {
          color: var(--color-gray-500);
        }
      }
    }

    button {
      padding: 0 20px;
      margin: 0;
      border-radius: 0 10px 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0d400a;
      border: var(--glass-border);
      color: var(--color-white);
      cursor: pointer;
      user-select: none;
      user-select: none;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Old Edge */

      &:focus,
      &:hover {
        background-color: #11660e;
      }

      img {
        filter: invert(1);
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Old Edge */
      }
    }
  }

  div#Deck {
    margin: 30px 10px 25px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 25px;
    justify-content: center;

    .card[data-tags="newgrounds"] {
      background: linear-gradient(
        to bottom,
        hsl(0, 0%, 0%) 50%,
        hsl(0, 0%, 8%)
      ) !important;
      display: block;

      &:hover span {
        color: #ffb50e !important;
      }
    }

    .card[data-tags="newgrounds"] span {
      font-family: "NewGrounds" !important;
    }

    .card {
      text-decoration: none;
      border: var(--glass-border);
      border-radius: 10px;
      flex: 1 1 290px;
      max-width: 290px;
      height: 400px;
      overflow: hidden;
      transition: transform 0.3s ease-out;
      will-change: transform;
      background: linear-gradient(to bottom, hsl(0, 0%, 6%), hsl(0, 0%, 8%));
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      align-items: center;
      display: flex;
      justify-content: center;

      font-size: 1.3rem;
      color: hsla(var(--color-green-light-a), 0.5);
      font-family: var(--font-mono);
      position: relative;

      span {
        position: absolute;
        z-index: 2;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.45);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 25%;
        color: var(--color-off-white);
        font-family: var(--font);
        bottom: 0;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(0.6rem, 2vw, 1.2rem);
        overflow-wrap: break-word;
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Old Edge */
      }

      img {
        width: 100%;
        min-height: 100%;
        filter: brightness(0.8);
        object-fit: cover;
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Old Edge */
      }

      img.non-cover {
        width: 100%;
        min-height: unset;
        filter: brightness(0.8);
        object-fit: contain;
      }

      &:has(#SpotifyWidget) {
        align-items: flex-start;
      }

      &:hover,
      &:focus-visible {
        transform: scale(1.06);
        z-index: 1;
        border: 0.25px solid rgba(255, 255, 255, 0.4);

        img {
          filter: brightness(1);
        }

        span {
          color: white;
        }
      }
      &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 2;
        /* box-shadow: inset 0 0 50px 8px hsla(var(--color-green-light-a), 0.2); */
      }
    }
  }

  img#SpotifyWidget,
  img#SpotifyWidgetPlaceholder {
    border-radius: 20px;
    background-color: #121212;
    max-width: 290px;
    height: 102.5%;
    position: absolute !important;
  }

  img#SpotifyWidgetPlaceholder {
    height: 101% !important;
    z-index: -1;
  }

  hr {
    color: hsla(var(--color-gray-100-a), 0.4);
    border: 0.5px solid;
    border-radius: 100%;
  }
}
