@media only screen and (max-width: 480px) {
  ::selection {
    background-color: var(--color-green-m);
    color: var(--color-green-light);
  }

  :focus-visible {
    outline: 3px solid orange;
    transition: outline 0.2s ease;
    border-radius: inherit !important;
  }

  html {
    font-size: var(--font-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font);
    scrollbar-color: var(--color-purple) transparent;
    scrollbar-width: none;
    caret-color: orange;
    height: 100%;
    background-color: black;
    /* overscroll-behavior: none; */
  }

  body {
    color: var(--color-white);
    line-height: 1.6;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: black;
  }

  html,
  body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: black;
  }

  header {
    width: 100%;
    text-decoration: none !important;
  }

  #Title-bar {
    width: 100%;
    height: 80px;
    display: flex;
    background: linear-gradient(
      to right,
      var(--color-purple),
      var(--color-purple),
      rgba(0, 0, 0, 0.8)
    );
  }

  #Title-bar a {
    text-decoration: none !important;
    width: 100%;
    height: 100%;
  }

  #Title-bar img {
    border-radius: 10px;
    position: absolute;
    scale: 1.5;
    top: 20px;
    left: 20px;
  }

  #Title-bar span {
    color: var(--color-white);
    font-size: 28px;
    position: absolute;
    left: 80px;
    top: 15px;
    line-height: 1;
  }

  #Dropdown-menu {
    display: none;
  }

  main {
    padding: 10px;
    background: linear-gradient(
      to bottom,
      black,
      var(--color-gray-850) 2.5%,
background color
      var(--color-gray-850),
      black
    );
  }

  section a {
    color: var(--color-link);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  section a:hover,
  section a:focus-visible {
    color: var(--color-link-hover);
  }

  section a:active {
    color: var(--color-link-active);
  }

  section a:visited {
    color: var(--color-link-visited);
  }

  section a:visited:hover,
  section a:visited:focus-visible {
    color: var(--color-link-visited-hover);
  }

  section a:visited:active {
    color: var(--color-link-visited-active);
  }

  #Profile-pic {
    max-width: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.3);

    border-radius: 20px;
    user-select: none;
  }

  #Green-box {
    box-shadow: inset 0px -10px 25px -11px rgba(0, 0, 0, 0.8),
      inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8);
    flex: 1;
    border: var(--glass-border);
    border-radius: 20px;
    background: radial-gradient(
      circle at top,
      var(--color-black) 30%,
      hsla(var(--color-green-light-a), 0.3) 90%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
  }

  a#Btn-message-me {
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    border: var(--glass-border);
    height: 2.5rem;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple),
      var(--color-purple-dark)
    );
    color: var(--color-gray-100);
    font-size: 1.1rem;
    font-family: inherit;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }

  a#Btn-message-me:active {
    transform: scale(1.02);
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple-dark),
      var(--color-purple-dark)
    );
  }

  a#Btn-message-me span {
    padding: 0 30px;
    transform: translateY(3px);
  }

  h1 {
    margin: 0;
    position: relative;
    font-size: 2.2rem;
  }

  h1#landing {
    margin: 0;
    margin-top: 80px;
    position: relative;
    font-size: 2.2rem;
  }

  h1#Contact {
    font-size: 1.8rem;
  }

  h1#landing:before {
    content: "The mobile view is still broken. I reccomend reading from a desktop.";
    color: orangered;
    position: absolute;
    top: -70px;
    font-size: 20px;
    text-align: center;
  }

  p {
    margin-top: 0;
    text-align-last: left;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }

  hr {
    color: hsla(var(--color-gray-100-a), 0.4);
    border: 0.5px solid;
    border-radius: 100%;
    max-width: 65ch;
    margin: 0 auto;
  }
  .no-wrap {
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: normal;
  }

  form#Contact-form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  form#Contact-form input,
  form#Contact-form textarea {
    box-shadow: inset 0 0 10px 2px hsla(0, 0%, 10%, 1),
      0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    resize: none;
  }
  textarea {
    height: 200px;
    margin-bottom: 0.4rem !important;

  }

  form#Contact-form input,
  form#Contact-form textarea {
    outline: none;
  }

  form#Contact-form input:focus,
  form#Contact-form textarea:focus {
    background-color: var(--color-gray-750);
    border-radius: 10px !important;
    outline: none;
  }

  form#Contact-form button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    border: var(--glass-border);
    height: 2.5rem;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple),
      var(--color-purple-dark)
    );
    color: var(--color-gray-100);
    font-size: 1.1rem;
    font-family: inherit;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease, box-shadow 0.2s ease, background 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div#Drop-zone {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 1);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
  }

  div#Drop-zone img {
    position: absolute;
    user-select: none;
    filter: invert(0.25);
    min-height: 180px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div#Drop-zone img#Open {
    display: none;
  }

  input.drop-zone-input {
    display: none;
  }

  div#Drop-zone:has(div.drop-zone-thumb) img {
    display: none !important;
  }

  div#Drop-zone div.drop-zone-thumb {
    margin-right: 30px;
    margin-bottom: 50px;
    width: 100px;
    height: 120px;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background-image: url("/src/asset/ico/file.svg");
  }
  .drop-zone-thumb.selected {
    outline: 1px dashed rgba(255, 255, 255, 0.5);
  }

  div#Drop-zone div.drop-zone-thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: -30px;
    left: 0;
    font-family: departure-mono;
    white-space: nowrap;
    font-size: 13.75px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 100%;
  }
  label {
    font-size: 1rem;
  }
}
