@media only screen and (min-width: 700px) {
  #staticrypt_content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0.5rem;
    flex: 1 0 auto;
  }

  .staticrypt-page {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: inset 0px -10px 25px -10px rgba(0, 0, 0, 0.6),
      inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8);
    border: var(--glass-border);
    border-radius: 20px;
    background: radial-gradient(
      circle at top,
      var(--color-black),
      var(--color-black),
      hsla(var(--color-purple-a), 0.9) 99%
    );
  }

  .staticrypt-form {
    padding: 2rem 2rem 1rem 2rem;
    margin-inline: auto;
    max-width: max-content;
  }

  .staticrypt-hr,
  .staticrypt-toggle-password-visibility,
  #staticrypt-remember-label {
    display: none;
  }

  .staticrypt-title {
    font-size: 3.1rem;
    line-height: 1;
    letter-spacing: 0.05em;
    margin: 0;
    margin-bottom: 48px;
    margin-top: 30px;
    color: var(--color-off-white);
    font-weight: bold;
    text-align: center;
  }

  .staticrypt-instructions {
    justify-content: center;
    align-items: center;
  }

  #staticrypt-form,
  #staticrypt-password,
  .staticrypt-password-container {
    width: 100%;
  }

  .staticrypt-password-container {
    margin-top: 20px;
  }

  input#staticrypt-password {
    box-sizing: border-box;
    box-shadow: inset 0 0 10px 2px hsla(0, 0%, 10%, 1),
      0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px;
    padding: 0.5rem;
    padding-bottom: 0.25rem;
    font-family: inherit;
    font-size: 1rem;
    resize: none;

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus {
      background-color: var(--color-gray-750);
      border-radius: 10px;
      outline: none;
      &::placeholder {
        color: var(--color-gray-500);
      }
    }
  }

  label {
    font-size: 1.2rem;
  }

  .staticrypt-decrypt-button {
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    border: var(--glass-border);
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple),
      var(--color-purple-dark)
    );
    color: var(--color-gray-100);
    font-size: 1.1rem;
    font-family: inherit;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .staticrypt-decrypt-button:hover,
  .staticrypt-decrypt-button:focus-visible {
    transform: scale(1.05);
    border: var(--glass-border);
    color: var(--color-white);
    cursor: pointer;
    background: radial-gradient(
      circle at center,
      var(--color-purple-hover),
      var(--color-purple-hover),
      var(--color-purple),
      var(--color-purple-dark)
    );
    box-shadow: 0px 15px 19px 2px rgba(0, 0, 0, 0.5);
  }

  .staticrypt-decrypt-button:active {
    transform: scale(1.02);
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple-dark),
      var(--color-purple-dark)
    );
  }
}

/* ------------------------------------------------ */

@media only screen and (max-width: 700px) {
  #staticrypt_content {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding-top: 50px;
  }

  .staticrypt-form {
    padding: 1rem;
    margin-inline: auto;
    max-width: max-content;
    background: linear-gradient(
      to bottom,
      transparent,
      var(--color-gray-850) 15%,
      var(--color-gray-850),
      transparent
    );
  }

  .staticrypt-hr,
  .staticrypt-toggle-password-visibility,
  #staticrypt-remember-label {
    display: none;
  }

  .staticrypt-title {
    font-size: 3.1rem;
    line-height: 1;
    letter-spacing: 0.05em;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    color: var(--color-off-white);
    font-weight: bold;
    text-align: center;
  }

  .staticrypt-instructions {
    justify-content: center;
    align-items: center;
  }

  #staticrypt-form,
  #staticrypt-password,
  .staticrypt-password-container {
    width: 100%;
  }

  .staticrypt-password-container {
    margin-top: 20px;
  }

  input#staticrypt-password {
    box-sizing: border-box;
    box-shadow: inset 0 0 10px 2px hsla(0, 0%, 10%, 1),
      0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px;
    padding: 0.5rem;
    padding-bottom: 0.25rem;
    font-family: inherit;
    font-size: 1rem;
    resize: none;
  }

  input#staticrypt-password::placeholder {
    color: var(--color-gray-600);
  }

  input#staticrypt-password:focus {
    background-color: var(--color-gray-750);
    border-radius: 10px !important;
    outline: none;
  }

  input#staticrypt-password::placeholder {
    color: var(--color-gray-500);
  }

  label {
    font-size: 1.2rem;
  }

  .staticrypt-decrypt-button {
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    border: var(--glass-border);
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple),
      var(--color-purple-dark)
    );
    color: var(--color-gray-100);
    font-size: 1.1rem;
    font-family: inherit;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .staticrypt-decrypt-button:hover,
  .staticrypt-decrypt-button:focus-visible {
    transform: scale(1.05);
    border: var(--glass-border);
    color: var(--color-white);
    cursor: pointer;
    background: radial-gradient(
      circle at center,
      var(--color-purple-hover),
      var(--color-purple-hover),
      var(--color-purple),
      var(--color-purple-dark)
    );
    box-shadow: 0px 15px 19px 2px rgba(0, 0, 0, 0.5);
  }

  .staticrypt-decrypt-button:active {
    transform: scale(1.02);
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple-dark),
      var(--color-purple-dark)
    );
  }
}
