@font-face {
  font-family: "departure-mono";
  src: url("/src/asset/font/departuremono/DepartureMono-Regular.woff2")
      format("woff2"),
    url("/src/asset/font/departuremono/DepartureMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cochin";
  src: url("/src/asset/font/cochin/CochinLTStd.woff2") format("woff2"),
    url("/src/asset/font/cochin/CochinLTStd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cochin";
  src: url("/src/asset/font/cochin/CochinLTStd-Bold.woff2") format("woff2"),
    url("/src/asset/font/cochin/CochinLTStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "cochin";
  src: url("/src/asset/font/cochin/CochinLTStd-Italic.woff2") format("woff2"),
    url("/src/asset/font/cochin/CochinLTStd-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "cochin";
  src: url("/src/asset/font/cochin/CochinLTStd-BoldItalic.woff2")
      format("woff2"),
    url("/src/asset/font/cochin/CochinLTStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/* ------------------------------------ */

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/src/asset/font/JetBrainsMono/JetBrainsMono-ThinItalic.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "NewGrounds";
  src: url("/src/asset/font/NG/NewgroundsFontRegular.woff2") format("woff2"),
  url("/src/asset/font/NG/NewgroundsFontRegular.woff") format("woff"),
  url("/src/asset/font/NG/NewgroundsFont-Regular.otf")   format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ------------------------------------ */

:root {
  --color-gray-100: hsl(225, 40%, 98%);
  --color-gray-150: hsl(225, 40%, 97%);
  --color-gray-200: hsl(225, 40%, 96%);
  --color-gray-250: hsl(225, 40%, 93%);
  --color-gray-300: hsl(220, 29%, 90%);
  --color-gray-350: hsl(220, 29%, 85%);
  --color-gray-400: hsl(219, 20%, 80%);
  --color-gray-450: hsl(219, 20%, 70%);
  --color-gray-500: hsl(219, 10%, 60%);
  --color-gray-550: hsl(219, 10%, 50%);
  --color-gray-600: hsl(221, 8%, 40%);
  --color-gray-650: hsl(221, 8%, 30%);
  --color-gray-700: hsl(218, 8%, 20%);
  --color-gray-750: hsl(218, 8%, 16%);
  --color-gray-800: hsl(220, 5%, 12%);
  --color-gray-850: hsl(220, 5%, 9%);
  --color-gray-900: hsl(210, 6%, 7%);

  --color-gray-100-a: 225, 40%, 98%;
  --color-gray-150-a: 225, 40%, 97%;
  --color-gray-200-a: 225, 40%, 96%;
  --color-gray-250-a: 225, 40%, 93%;
  --color-gray-300-a: 220, 29%, 90%;
  --color-gray-350-a: 220, 29%, 85%;
  --color-gray-400-a: 219, 20%, 80%;
  --color-gray-450-a: 219, 20%, 70%;
  --color-gray-500-a: 219, 10%, 60%;
  --color-gray-550-a: 219, 10%, 50%;
  --color-gray-600-a: 221, 8%, 40%;
  --color-gray-650-a: 221, 8%, 30%;
  --color-gray-700-a: 218, 8%, 20%;
  --color-gray-750-a: 218, 8%, 16%;
  --color-gray-800-a: 220, 5%, 12%;
  --color-gray-850-a: 220, 5%, 9%;
  --color-gray-900-a: 210, 6%, 7%;

  --color-black: hsl(0, 0%, 6%);
  --color-white: #fff;
  --color-off-white: #ddd;

  --color-purple: hsl(270, 80%, 20%);
  --color-purple-a: 270, 80%, 20%;
  --color-purple-dark: hsl(270, 80%, 15%);
  --color-purple-dark-a: 270, 80%, 15%;
  --color-purple-hover: hsl(270, 80%, 25%);
  --color-purple-hover-a: 270, 80%, 22%;

  --color-orange: orange;

  --color-green: hsl(120, 30%, 13%);
  --color-green-a: 120, 30%, 13%;
  --color-green-m: hsl(120, 68%, 20%);
  --color-green-light: hsl(120, 100%, 50%);
  --color-green-light-a: 120, 100%, 50%;

  --color-link: hsl(210, 70%, 55%);
  --color-link-hover: hsl(210, 90%, 70%);
  --color-link-active: hsl(210, 90%, 35%);

  --color-link-dark: hsl(210, 90%, 40%);
  --color-link-dark-hover: hsl(210, 100%, 55%);
  --color-link-dark-active: hsl(210, 100%, 20%);

  --color-link-visited: hsl(270, 45%, 55%);
  --color-link-visited-hover: hsl(270, 45%, 70%);
  --color-link-visited-active: hsl(270, 45%, 35%);

  --color-link-dark-visited: hsl(270, 65%, 40%);
  --color-link-dark-visited-hover: hsl(270, 65%, 65%);
  --color-link-dark-visited-active: hsl(270, 65%, 20%);

  --glass-border: 1px solid rgba(255, 255, 255, 0.2);

  --font-size: 24px;
  --font: "cochin";
  --font-mono: "departure-mono";
  --font-jb-mono: "JetBrainsMono";
  --font-ng: "NewGrounds";
}
